.products{
    margin-top: 3rem;
    .item1{
        @include grid(repeat(3,1fr), 1rem);
        flex-wrap: wrap;
        gap: 1.5rem;
        img{
            width: 20rem;
            height: 20rem;
            object-fit: cover;
        }
    }
}

.featured1{
    margin-top: 3rem;
    h1{
        text-align: center;
        margin-bottom: 4rem;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            height: .3rem;
            width: 80px;
            background-color: $main;
            top: 38px;
            left: 45%;
        }
    }
    .container{
        @include flexBox(center, row);
        flex-wrap: wrap;
        gap: 1.5rem;
        .box{
            transition: all .2s ease;
            img{
                width: 15rem;
                height: 20rem;
                object-fit: cover;
            }
            i{
                color: $main;
            }
            &:hover{
                transform: scaleX(1.1);
            }
        }
    }
}

.featured2{
    margin-top: 3rem;
    h1{
        text-align: center;
        margin-bottom: 4rem;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            height: .3rem;
            width: 80px;
            background-color: $main;
            top: 38px;
            left: 45%;
        }
    }
    .container{
        @include flexBox(center, row);
        flex-wrap: wrap;
        gap: 2rem;
        .box{
            transition: all .2s ease;
            overflow: hidden;
            img{
                width: 15rem;
                height: 20rem;
                object-fit: cover;
            }
            i{
                color: $main;
            }
            &:hover{
                transform: scaleX(1.1);
            }
        }
    }
}


@media (max-width: 768px){
    .featured1 h1::after {
        top: 34px;
        left: 44%;
    }

    .featured2 h1::after {
        top: 34px;
        left: 44%;
    }
    .products .item1 img {
        width: 100%;
    }
}

@media (max-width: 500px){
    .featured1 h1::after {
        top: 34px;
        left: 36%;
    }
    .featured2 h1::after {
        top: 34px;
        left: 36%;
    }
}