@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-size: 90%;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  max-width: 1300px;
  margin: auto;
  width: 90%;
}

.wrapper2 {
  max-width: 1600px;
  margin: auto;
  width: 80%;
}

@media (max-width: 768px) {
  * {
    overflow-x: hidden;
  }
  body {
    font-size: 80%;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 2.5rem;
}

.nav .logo img {
  width: 9rem;
  margin-top: 1rem;
}

.nav ul li {
  display: inline-block;
  margin: 0 .5rem;
}

.nav ul li a {
  color: #333;
}

.nav .menu i {
  display: none;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.fa-times {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header {
  background: radial-gradient(#fff, #ffd6d6);
}

@media (max-width: 768px) {
  .nav {
    padding: 0;
  }
  .nav .nav .logo img {
    width: 7rem;
  }
  .nav ul {
    position: absolute;
    background: #333;
    top: 78px;
    right: 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 1rem;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    z-index: 10;
  }
  .nav ul li {
    display: block;
    margin-bottom: .8rem;
  }
  .nav ul li a {
    color: #fff;
    font-size: .9rem;
  }
  .nav ul li a:hover {
    color: #ff523b;
  }
  .nav ul li i {
    display: none;
  }
  .nav .menu i {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .nav .fa-times {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .nav .active {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 500px) {
  .nav .logo img {
    width: 7rem;
  }
  .nav .menu i {
    font-size: 1.3rem;
  }
}

@media (max-width: 300px) {
  .nav .logo img {
    width: 6rem;
  }
  .nav .menu i {
    font-size: 1.2rem;
  }
}

.showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 4.5rem;
}

.showcase .image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.showcase .image img {
  width: 35rem;
}

.showcase .text {
  text-transform: capitalize;
  max-width: 550px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  overflow: hidden;
}

.showcase .text h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.showcase .text p {
  margin-bottom: 2rem;
}

.showcase .text a {
  color: #ff523b;
  font-weight: 700;
  font-size: 1.2rem;
}

.showcase .text a i {
  -webkit-transition: .2s ease;
  transition: .2s ease;
  font-size: 1rem;
}

.showcase .text a:hover {
  background: lighten #ff523b, 40%;
}

.showcase .text a:hover i {
  margin-left: .6rem;
}

@media (max-width: 768px) {
  .showcase {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    text-align: center;
  }
  .showcase .text h1 {
    font-size: 1.4rem;
  }
  .showcase .image img {
    width: 22rem;
    margin-top: 2rem;
  }
}

.products {
  margin-top: 3rem;
}

.products .item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.products .item1 img {
  width: 20rem;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.featured1 {
  margin-top: 3rem;
}

.featured1 h1 {
  text-align: center;
  margin-bottom: 4rem;
  position: relative;
}

.featured1 h1::after {
  content: '';
  position: absolute;
  height: .3rem;
  width: 80px;
  background-color: #ff523b;
  top: 38px;
  left: 45%;
}

.featured1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.featured1 .container .box {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.featured1 .container .box img {
  width: 15rem;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.featured1 .container .box i {
  color: #ff523b;
}

.featured1 .container .box:hover {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

.featured2 {
  margin-top: 3rem;
}

.featured2 h1 {
  text-align: center;
  margin-bottom: 4rem;
  position: relative;
}

.featured2 h1::after {
  content: '';
  position: absolute;
  height: .3rem;
  width: 80px;
  background-color: #ff523b;
  top: 38px;
  left: 45%;
}

.featured2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.featured2 .container .box {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  overflow: hidden;
}

.featured2 .container .box img {
  width: 15rem;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.featured2 .container .box i {
  color: #ff523b;
}

.featured2 .container .box:hover {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

@media (max-width: 768px) {
  .featured1 h1::after {
    top: 34px;
    left: 44%;
  }
  .featured2 h1::after {
    top: 34px;
    left: 44%;
  }
  .products .item1 img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .featured1 h1::after {
    top: 34px;
    left: 36%;
  }
  .featured2 h1::after {
    top: 34px;
    left: 36%;
  }
}

.exclusive {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 4rem;
  padding: 30px 0;
}

.exclusive .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5rem 0;
}

.exclusive .row .image img {
  height: 17rem;
  width: 17rem;
}

.exclusive .row .text {
  max-width: 400px;
}

.exclusive .row .text h1 {
  margin-bottom: 2rem;
}

.exclusive .row .text :nth-child(1), .exclusive .row .text :nth-child(3) {
  margin-bottom: 2rem;
}

.exclusive .row .text a {
  color: #ff523b;
  font-weight: 700;
}

.exclusive .row .text i {
  -webkit-transition: .2s ease;
  transition: .2s ease;
  font-size: .7rem;
  color: #ff523b;
}

.exclusive .row .text:hover {
  background: lighten #ff523b, 40%;
}

.exclusive .row .text:hover i {
  margin-left: .6rem;
}

@media (max-width: 768px) {
  .exclusive .container {
    text-align: center;
    padding: 2rem 0;
  }
  .exclusive .container .text {
    overflow: hidden;
    margin-top: 3rem;
  }
  .exclusive .row .text a {
    display: none;
  }
  .exclusive .row {
    padding: 0;
  }
  .exclusive .row .text :nth-child(1), .exclusive .row .text :nth-child(3) {
    margin-bottom: 1rem;
  }
  .exclusive .row .text h1 {
    margin-bottom: 1rem;
  }
  .exclusive .row .image img {
    height: 16rem;
    width: 16rem;
  }
}

.testimonials {
  margin-top: 4rem;
}

.testimonials h1 {
  text-align: center;
  margin-bottom: 4rem;
  position: relative;
}

.testimonials h1::after {
  content: '';
  position: absolute;
  height: .3rem;
  width: 80px;
  background-color: #ff523b;
  top: 38px;
  left: 45%;
}

.testimonials .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.5rem;
  text-align: center;
}

.testimonials .container .box {
  background: #fff;
  border: 0.1rem solid #b8b7b7;
  border-radius: .5rem;
  cursor: pointer;
}

.testimonials .container .box i {
  color: #ff523b;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.testimonials .container .box p {
  margin-bottom: 1rem;
}

.testimonials .container .box .ratings i {
  color: #ff523b;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.testimonials .container .box img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .testimonials .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .testimonials .container .box {
    padding: .7rem;
  }
  .testimonials h1::after {
    top: 34px;
    left: 44%;
  }
}

@media (max-width: 500px) {
  .testimonials h1::after {
    top: 34px;
    left: 36%;
  }
}

.companies {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.companies img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: -webkit-filter .2s ease;
  transition: -webkit-filter .2s ease;
  transition: filter .2s ease;
  transition: filter .2s ease, -webkit-filter .2s ease;
}

.companies img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

@media (max-width: 500px) {
  .companies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .companies img {
    width: 5rem;
  }
}

footer {
  margin-top: 4rem;
  background: #111;
  font-size: .7rem;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 6rem;
}

footer .container .item1 {
  line-height: 2.5;
}

footer .container .item1 h3 {
  color: #fff;
}

footer .container .item1 p {
  color: gray;
  margin-bottom: 1rem;
}

footer .container .item1 .app img {
  width: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
}

footer .item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
}

footer .item2 img {
  width: 10rem;
  margin-bottom: 1rem;
}

footer .item2 p {
  color: gray;
  text-align: center;
}

footer .item3 {
  text-align: center;
}

footer .item3 h3 {
  color: #fff;
  margin-bottom: .9rem;
}

footer .item3 li {
  color: gray;
}

footer .item4 {
  text-align: center;
}

footer .item4 h3 {
  color: #fff;
  margin-bottom: .9rem;
}

footer .item4 li {
  color: gray;
}

footer .wrapper2 hr {
  border: .1rem solid #666;
}

footer .wrapper2 p {
  text-align: center;
  color: gray;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  footer .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  footer .container .item1 {
    text-align: center;
  }
}

@media (max-width: 500px) {
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 2rem 0rem;
  }
  footer .container .item1 p {
    min-width: 270px;
  }
  footer .item2 {
    max-width: 300px;
  }
}

@media (max-width: 336px) {
  footer .item2 {
    max-width: 250px;
  }
}

.all-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem 4rem;
  margin-top: 4rem;
}

.all-products .right select {
  cursor: pointer;
  padding: .3rem;
}

.all-products .right select:hover, .all-products .right select:focus {
  outline: none;
}

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 3rem;
}

.pages .page {
  border: 1px solid #fdd6d0;
  padding: .3rem .8rem;
  margin-right: 1rem;
  cursor: pointer;
}

.pages .page:hover {
  background: #ff523b;
  color: #fff;
}

.pages .page i {
  font-size: .7rem;
}

.featured1 .detail {
  position: relative;
}

.featured1 .detail a {
  position: absolute;
  top: 0;
  border: 1px solid #999;
  padding: .4rem;
  border-radius: .5rem;
  left: 2px;
  font-weight: 600;
  background: #fdd6d0;
  color: #666;
}

@media (max-width: 786px) {
  .all-products {
    padding: 0;
    margin-top: 3rem;
  }
  .all-products .left h2 {
    font-size: 1rem;
  }
}

.detailed .left-col {
  width: 500px;
}

.detailed .left-col .small-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
}

.detailed .left-col .small-img img {
  width: 9rem;
}
/*# sourceMappingURL=main.css.map */